beautifulsoup4==4.4.1
certifi==2022.12.7
Django==1.8.4
django-haystack==2.4.0
django-htmlmin==0.8.0
elasticsearch==1.7.0
feedparser==5.2.1
html5lib==0.9999999
python-memcached==1.57
six==1.9.0
urllib3==1.12
wheel==0.24.0
